body {
    font-family: sans-serif;
    background-color: #3b2e2b;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px;
    color: #fff;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 900px;
  }

  .menu-item {
    background-color: #5a463f;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    text-align: center;
  }

  .menu-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .menu-item .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 5px;
    color: #fff;
  }

  .menu-item h3 {
    font-size: 24px;
    margin: 10px 0;
    font-weight: bold;
  }

  .promo {
    background-color: #a5805d;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 3px;
    position: absolute;
    top: 15px;
    right: 15px;
  }
  a {
    background-color: #3a3a3a;
    color: white;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 15px;
    margin: 15px;
    align-self: center;
}

a:hover {
    background-color: #555;
}