 /* Font styling  */
 body {
    font-family: Arial, sans-serif; 
    font-weight: normal;
    font-size: 16px;
    color:black;
    background-color: #ECDFCC;
    text-align: left;
}
/* First text of page */
.haha{
      color: red;
      text-align: center;  
      font-family: "Changa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
}

/*  Style the headings  */
h1 {
    font-size: 50px;
    color: black;
    margin-bottom: 10px;
    text-decoration-line: underline;
}

.li, ul ,ol {
    margin-bottom: 10px;
}
.time {
    text-align: center;
    color:gold
}
img {
    border: 5px solid black;
    width: 400px;
    height: 350px;
    text-align: center;
    padding: 20px;
    background-color: cadetblue;
    margin: 0px 40px;
}
a:hover{
    background-color: white;
    font-size: 18px;
}
